*{
    padding: 0;
    margin: 0;
}

:root {
    background-image: url(/img/fundo_principal.png);
    background-size: cover;
}

body{
    width: 100%;   
    height: 100%;
}

.conteudo {
    background: rgb(255, 255, 248);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 1350px;
    height: 570px;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconvento{
    width: 80px;
}


