*{
    padding: 0;
    margin: 0;
}

:root {
    background-image: url(/img/fundo_principal.png);
    background-size: cover;
}

body{
    width: 100%;   
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
}

.conteudo {
    background: rgb(255, 255, 248);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 175vh;
    height: 77vh;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;
}


#formClima {
    display: flex;
    padding: 10px;
}

#local {
    width: 90%;
    top: 10px;
    right: 10px;
  }

#search-txt {
    height: 4%;
    width: 27%;
    position: absolute;
    top: 4%;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif; 
    color: rgb(0, 0, 0);
    font-size: x-large;
    border-radius: 40px;
    text-align: center;
  }

.search-box{
    max-width: 100px;
}

#search-icon {
    width: 9%;
    position: absolute;
    top: 10px;
    right: 10px;
  }


#climaResult{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mundo{
    width: 60;
    height: 60vh;
    display: flex;
    margin-left: 150%;
}

.iconvento,
.iconumidade{
    width: 170px;
}


.geral {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    background-color: #f0f0f0;
}

.card-temp {
    flex: 1;
    margin: 0 10%; 
    text-align: center;
}

#clima-icon {
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translateX(-50%); 
    width: 25%;
}

.temperatura{
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 130%;
}

#velocidade_vento,
#umidade_fonte{
    font-size: medium;
}